# --- Python / FastAPI ---
.venv/
ariadne_venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
# OGB Datasets (Prevents uploading GBs of data)
data/
*.zip
*.gz

# --- Node / React ---
node_modules/
frontend/.vite/
dist/
build/
.eslintcache
npm-debug.log*

# --- Environment & OS ---
.env
.env.local
.DS_Store
Thumbs.db

# --- Editors ---
.vscode/
.idea/